<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Agenda</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">  
                     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script> 
                     
                    <link rel="stylesheet" th:href="@{/css/style.css}">

                        </head>   
                        <body>
                            <header>


                                <h1 <span> <img src="/images/saude1.png" alt="simbolo saúde" id="saudeimg"/></span>Sistema TDS Saúde</h1>


                            </header>

                            <h2 <span ><img src="/images/agendar.png" alt="agenda"/></span>   Agendamento</h2>

                            <div class="container">
                                <div class="col-sm-6">
                                <form th:action="@{/pesquisar-cpf}" method="GET" th:object="${usuario}">
                                <label for="idUsuario" class="form-label">Insira seu CPF: </label>
                                            <input type="text"  id="cpfUsuario" class="form-control" th:field="${usuario.cpf}" >
                                                <br>  
                                                <button type="submit" id="pesquisarbtn" class="btn btn-primary">Buscar</button>
                                                </form>
                                </div>
                                <br>
                                    <br>
                                <form th:action="@{/salvar-consulta}" method="POST" th:object="${consulta}">
                                    <div class="row">
                                        <div class="col-sm-6">
                                             <label for="usuarioId" class="form-label">ID do Usuário: </label>
                                             <input type="text" name="id" id="usuarioId" readonly="true" class="form-control" th:field="${consulta.usuario}">  
                                                <label for="profissional" class="form-label">Profissional: </label>
                                                <select id="profissional" class="form-select" th:field="${consulta.profissional}">
                                                     <option value="Selecione" th:field="${consulta.profissional}">Selecione</option>
                                                    <option value="Dra Larissa" th:field="${consulta.profissional}">Dra Larissa Couto</option>
                                                    <option value="Dr Pedro" th:field="${consulta.profissional}">Dr Pedro Magalhães Lima</option>
                                                    <option value="Enfermeira Analice" th:field="${consulta.profissional}">Enfermeira Analice Maria de Oliveira</option>
                                                </select>

                                                <label for="tipo" class="form-label">Tipo: </label>
                                                <select id="tipo" class="form-select" >
                                                    <option value="Selecione" th:field="${consulta.tipo}">Selecione</option>
                                                    <option value="rotina" th:field="${consulta.tipo}">Consulta rotina</option>
                                                    <option value="retorno" th:field="${consulta.tipo}">Retorno</option>
                                                    <option value="puericultura" th:field="${consulta.tipo}">Puericultura</option>
                                                    <option value="prenatal" th:field="${consulta.tipo}">Pré-natal</option>
                                                    <option value="preventivo" th:field="${consulta.tipo}">Preventivo</option>
                                                </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label for="data" class="form-label">Data: </label>
                                            <input type="date"  id="data" class="form-control" th:field="${consulta.data}">
                                                <label for="hora" class="form-label"> Horário: </label>
                                                <select id="hora" class="form-select" th:field="${consulta.hora}">
                                                    <option value="Selecione" th:field="${consulta.hora}">Selecione</option>
                                                    <option value="07:00" th:field="${consulta.hora}">07:00</option>
                                                    <option value="07:30" th:field="${consulta.hora}">07:30</option>
                                                    <option value="08:00" th:field="${consulta.hora}">08:00</option>
                                                    <option value="13:00" th:field="${consulta.hora}">13:00</option>
                                                    <option value="13:30" th:field="${consulta.hora}">13:30</option>
                                                    <option value="14:00" th:field="${consulta.hora}">14:00</option>
                                                </select>

                                        </div>

                                    </div>

                                    <button type="submit" id="agendarbtn" class="btn btn-primary">Agendar</button>


                                </form>
                            </div>
                           <script th:src="@{/js/saude.js}"></script>
              </body>
              </html>
